!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CBeauty
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #preloader
      .row.loader
        .loader-icon
    / end page loading
    / start main-wrapper section
    .main-wrapper
      =render 'header'

      = yield
      =render 'footer'
    / start scroll to top
    %a.scroll-to-top{:href => "javascript:void(0)"}
      %i.fas.fa-angle-up{"aria-hidden" => "true"}
    / end scroll to top

    = javascript_include_tag "application"
